POSTGRES_DSN=postgresql://postgres:123456@localhost:5432/short-play
SKILLS_DIR=skills
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ai-short-play
